/*introduction設定*/
.home-introduction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    margin: 40px auto;
    width: 80%;
    z-index: 1;
}

.home-img{
    width: 1050px;
    margin: 40px;
}

.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    -webkit-box-reflect: below 5px linear-gradient(transparent, transparent 70%, rgba(0,0,0,0.3));
}

.home-text h1{
    font-size: 2rem;
    line-height: 55px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
    color: #F3F6F4;
    -webkit-text-stroke: 1.2px #22252e;
    text-shadow: rgba(0,0,0,0.3) 0.15em 0.1em 0.2em;
}

.home-text p{
    font-size: 1rem;
    color:#777474;
}

/*morebtn設定*/
.int-morebtn{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #357266;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(33,102,113,0.5);
}

.int-morebtn:hover{
    background:#fff;
    box-shadow:5px 10px 30px rgba(33,102,113,0.5);
    color:#22252e;
}
