/*introduction設定*/
.home-introduction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    margin: 40px auto;
    width: 80%;
    z-index: 1;
}

.home-img{
    width: 2200px;
    margin: 40px;
}

.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    -webkit-box-reflect: below 5px linear-gradient(transparent, transparent 70%, rgba(0,0,0,0.3));
}


.home-text h1{
    font-size: 2rem;
    line-height: 55px;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.home-text h2{
    font-size: 1.2rem;
    color: #22252e;
}

.home-text p{
    font-size: 1rem;
    color:#777474;
}

/*morebtn設定*/
.int-morebtn{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #357266;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(33,102,113,0.5);
}

.int-morebtn:hover{
    background:#fff;
    box-shadow:5px 10px 30px rgba(33,102,113,0.5);
    color:#22252e;
}

/*arrow設定*/
.arrow{
    align-self: end;
    width: 50%;
    border-right: 1px solid #357266;
    height: 20%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 5px;
    right: 70px;
    animation: arrow-animation ease 1.5s;
}

.arrow::after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #357266 transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}
.scroll{
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-weight: 700;
}
@keyframes arrow-animation{
    0%{
        bottom: 70px;
        opacity: 0.2;
    }
    100%{
        bottom: 5px;
        opacity: 1;
    }
}

/*news設定*/
.home-news h1{
    font-size: 2rem;
    line-height: 55px;
    letter-spacing: 1px;
    font-weight: 700;
    margin:50px;
    text-align: center;
    color: #22252e;
    font-weight: 900;
}
.news{
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(33,102,113,0.13);
    border-radius: 5px;
}
.news .faders{
    position: absolute;
    width: 100%;
    height: 100%;
}
.news .faders .left,
.news .faders .right{
    position: absolute;
    z-index: 2;
    width: 20%;
    height: 100%;
}
.news .faders .left{
    background: linear-gradient(to right, #F3F6F4 0%, rgba(255, 255, 255, 0) 80%);
}
.news .faders .right{
    right: 0;
    background: linear-gradient(to left, #F3F6F4 0%, rgba(255, 255, 255, 0) 80%);
}
.news .items{
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carouselAnim 25s infinite alternate linear;
}
.news .items .entry{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin: 1em;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
}
.news .items .entry p{
    padding: 1em;
    text-align: center;
}
.news .items .entry img{
    display: block;
    width: 200px;
    height: 150px;
    margin: 0 auto;
    border-radius: 5px;
}
  
@keyframes carouselAnim{
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (3.8 * 300px)));
    }
}

.news-morebtn{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #357266;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(33,102,113,0.5);
    margin: 40px auto;
}

.news-morebtn:hover{
    background:#fff;
    box-shadow:5px 10px 30px rgba(33,102,113,0.5);
    color:#22252e;
}