/*honor設定*/
.honor{
    width:55%;
    margin: 80px auto;
}

.honor li{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(33,102,113,0.13);
    transition: 0.8s ease-out;
}

.honor li:hover{
    margin: 10px;
    padding: 20px;
    background-color: #A3BBAD;
    box-shadow: 5px 5px 20px rgba(33,102,113,0.13);
    font-size: 1.1rem;
}

.honor a{
    margin: 0px 10px;
}

/*分頁設定*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;  
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #357266;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

div.page {
    text-align: center;
    margin: 40px;
}

