/*media設定*/
.media{
    width:70%;
    margin: 40px auto;
}

/*box設定*/
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 2px 2px 20px rgba(33,102,113,0.13);
    border-radius: 10px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    flex-grow: 1;
    font-weight: 700;
    font-size: 1.2rem;
}

.box video{
    width: 60%;
}